<div class="container">
	<h1>All Comments</h1>
	<a href="/products" class="btn btn-default">Back</a>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>Comments</td>
				<td>Products</td>
			</tr>
		</thead>
		<tbody>
		<% @comments.each do |comment| %>
			<tr>
				<td class="vert-align"><%= comment.comment %></td>
				<td class="vert-align"><%= comment.product.name %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>