// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
.deleteForm{
	display: inline-block;
}
.jumbo{
	padding: 0 15px !important;
}
.table tbody>tr>td.vert-align{
	vertical-align: middle;
}
.comments{
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
}
.comments span{
	font-size: 14px;
	font-style: italic;
}
